.BookingTbld93L {
  .Table_Item {
    font-size: 16px;
  }
  .pass_list {
    padding: 0;
    list-style: none;
    margin-bottom: 0.5rem;
    li {
      font-size: 14px;
      font-weight: 400;
      strong {
        font-weight: 600;
      }
    }
  }
}
