.PassengersList32kd09 {
  border: 1px solid var(--themePrimary);
  padding: 30px 20px;
  border-radius: 7px;

  .passengersListItem {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // gap: 15px;
  }
  .dateList2 {
    color: var(--themePrimary);
    font-weight: 700;
  }
  .imageWrapper {
    position: relative;
    height: 650px;
    overflow-x: hidden;
    z-index: 1;
    img {
      height: 100%;
      width: 100%;
      border-radius: 16px;
      position: relative;
      z-index: 2;
    }
    .featured {
      position: absolute;
      top: 24px;
      left: 24px;
      background-color: #fff;
      border-radius: 16px;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      z-index: 3;
      padding: 4px 12px;
    }
  }
  .bds {
    font-weight: 600;
    margin-right: 20px;
  }
  .pds {
    padding: 12px 24px;
  }
  .mrs {
    margin-inline-end: 16px;
  }
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
    }
    .amount {
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
    }
  }
  .ptr-sec {
    margin: 15px 0;
    font-weight: 700;
    color: var(--themePrimary);
  }
  .passengersListContainer {
    max-height: 350px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
