.packagesTopBar9dkd9 {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 16%);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
